<%= form_for @art, :html => { :multipart => true, :class => 'simple_form' } do |f| %>
  <%= f.hidden_field :slug %>
  <div class="input string optional">
    <%= f.label :name, :class => ['string', 'optional'] %>
    <%= f.text_field :name, :maxlenght => 50, :title => t("mongoid.hints.art.name") %>
  </div>
  <div class="input string optional">
    <%= f.label :price, :class => ['string', 'optional'] %>
    <%= f.text_field :price, :maxlenght => 8, :title => t("mongoid.hints.art.price") %>
  </div>
  <div class="input text optional">
    <%= f.label :description, :class => ['text', 'optional']%>
    <%= f.text_area :description, :cols => 40, :rows => 10, :title => t("mongoid.hints.art.description")  %>
  </div>
  <div class="input file optional">
    <%= f.label :original, :class => ['file', 'optional'] %>
    <%= f.file_field :original, :title => t("mongoid.hints.art.original") %>
  </div>
  <div class="input select optional">
    <%= f.label :category, :class => ['select', 'optional'] %>
    <%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name', @art.category_id) %>
    <script type="text/javascript">
      $("select#art_category_id").attr("title", "<%=  t("mongoid.hints.art.category") %>");
    </script>
  </div>
  <div class="input string optional">
    <%= f.label :tags, :class => ['text', 'optional'] %>
    <%= f.text_field :tags, :maxlenght => 300, :value => @tags, :title => t("mongoid.hints.art.tags") %>
  </div>
  <div class="input text optional">
    <%= f.label :status, :class => ['text', 'optional'] %>
    <%= f.select :status, [[t('mongoid.options.art.status.active'), true], [t('mongoid.options.art.status.inactive'), false]] %>
    <script type="text/javascript">
      $("select#art_status").attr("title", "<%=  t("mongoid.hints.art.status") %>");
    </script>
  </div>
  <%= f.submit :disable_with => t('common.working')  %>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $("input#art_price").keydown(function(event) { 
    if ( event.keyCode == 46 || event.keyCode == 8  || event.keyCode == 9 || event.keyCode == 37  || event.keyCode == 39 ) { 
    } else { 
      if (event.keyCode < 95) { 
        if (event.keyCode < 48 || event.keyCode > 57 ) { 
          event.preventDefault();	
        } 
      } else { 
        if (event.keyCode < 96 || event.keyCode > 105 ) { 
          event.preventDefault();	
        } 
      } 
    } 
  });
  $("input, select, textarea").tipsy({
    live: true,
    trigger: 'hover',
    gravity: 'w'
  });
  
});
</script>
