<%= form_for @art, :html => { :multipart => true, :class => 'simple_form' } do |f| %>
  <%= f.hidden_field :slug %>
  <div class="input string optional">
    <%= f.label :name, :class => ['string', 'optional'] %>
    <%= f.text_field :name, :maxlenght => 50, :title => t("mongoid.hints.art.name") %>
  </div>
  <div class="input string optional">
    <%= f.label :price_a4, :class => ['string', 'optional'] %>
    <%= f.text_field :price_a4, :maxlenght => 8, :title => t("mongoid.hints.art.price_a4") %>
  </div>
  <div class="input string optional">
    <%= f.label :price_a3, :class => ['string', 'optional'] %>
    <%= f.text_field :price_a3, :maxlenght => 8, :title => t("mongoid.hints.art.price_a3") %>
  </div>
  <div class="input string optional">
    <%= f.label :price_artistic, :class => ['string', 'optional'] %>
    <%= f.text_field :price_artistic, :maxlenght => 8, :title => t("mongoid.hints.art.price_artistic") %>
  </div>
  <div class="input string optional">
    <%= f.label :price_wallcovering, :class => ['string', 'optional'] %>
    <%= f.text_field :price_wallcovering, :maxlenght => 8, :title => t("mongoid.hints.art.price_wallcovering") %>
  </div>
  <div class="input text optional">
    <%= f.label :description, :class => ['text', 'optional']%>
    <%= f.text_area :description, :cols => 40, :rows => 10, :title => t("mongoid.hints.art.description")  %>
  </div>
  <div class="input file optional">
    <%= f.label :original, :class => ['file', 'optional'] %>
    <%= f.file_field :original, :title => t("mongoid.hints.art.original") %>
  </div>
  <div class="clearfix"></div>
  <div class="input select optional">
    <%= f.label :genre, :class => ['select', 'optional'] %>
    <%= f.select :genre_id, options_from_collection_for_select(Genre.all, 'id', 'name', @art.genre_id) %>
    <script type="text/javascript">
      $("select#art_genre_id").attr("title", "<%=  t("mongoid.hints.art.genre") %>");
    </script>
  </div>
  <div class="clearfix"></div>
  <div class="input select optional">
    <%= f.label :category, :class => ['select', 'optional'] %>
    <%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name', @art.category_id) %>
    <script type="text/javascript">
      $("select#art_category_id").attr("title", "<%=  t("mongoid.hints.art.category") %>");
    </script>
  </div>
  <div class="input select optional" id='tecnique'>
    <label class="text optional" for="m"><%= t('arts.tecnique') %></label>
    <table style="width: 450px;">
      <tbody>
        <tr>
          <td><%= f.check_box :m_oil %> <%= t('arts.media.oil') %></td>
          <td><%= f.check_box :m_watercolor %> <%= t('arts.media.watercolor') %></td>
          <td><%= f.check_box :m_hot_wax %> <%= t('arts.media.hot_wax') %></td>
        </tr>
        <tr>
          <td><%= f.check_box :m_pastel %> <%= t('arts.media.pastel') %></td>
          <td><%= f.check_box :m_gouache %> <%= t('arts.media.gouache') %></td>
          <td><%= f.check_box :m_tempera %> <%= t('arts.media.tempera') %></td>
        </tr>
        <tr>
          <td><%= f.check_box :m_ink %> <%= t('arts.media.ink') %></td>
          <td><%= f.check_box :m_graphite %> <%= t('arts.media.graphite') %></td>
          <td><%= f.check_box :m_charcoal %> <%= t('arts.media.charcoal') %></td>
        </tr>
        <tr>
          <td><%= f.check_box :m_sepia %> <%= t('arts.media.sepia') %></td>
          <td><%= f.check_box :m_sanguine %> <%= t('arts.media.sanguine') %></td>
          <td><%= f.check_box :m_crayon %> <%= t('arts.media.crayon') %></td>
        </tr>
        <tr>
          <td><%= f.check_box :m_acrylic %> <%= t('arts.media.acrylic') %></td>
          <td><%= f.check_box :m_aerography %> <%= t('arts.media.aerography') %></td>
          <td><%= f.check_box :m_marker_pen %> <%= t('arts.media.marker_pen') %></td>
        </tr>
        <tr>
          <td><%= f.check_box :m_colored_pencil %> <%= t('arts.media.colored_pencil') %></td>
          <td><%= f.check_box :m_digital %> <%= t('arts.media.digital') %></td>
          <td><%= f.check_box :m_mixed %> <%= t('arts.media.mixed') %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
    $("input:checkbox").attr("title", "<%=  t("mongoid.hints.art.tecnique") %>");
  </script>
  <div class="input string optional">
    <%= f.label :tags, :class => ['text', 'optional'] %>
    <%= f.text_field :tags, :maxlenght => 300, :value => @tags, :title => t("mongoid.hints.art.tags") %>
  </div>
  <div class="input text optional">
    <%= f.label :status, :class => ['text', 'optional'] %>
    <%= f.select :status, [[t('mongoid.options.art.status.active'), true], [t('mongoid.options.art.status.inactive'), false]] %>
    <script type="text/javascript">
      $("select#art_status").attr("title", "<%=  t("mongoid.hints.art.status") %>");
    </script>
  </div>
  <%= f.submit :disable_with => t('common.working')  %>
<% end %>
<script type="text/javascript">
$(document).ready(function() {
  $("input#art_price").keydown(function(event) { 
    if ( event.keyCode == 46 || event.keyCode == 8  || event.keyCode == 9 || event.keyCode == 37  || event.keyCode == 39 ) { 
    } else { 
      if (event.keyCode < 95) { 
        if (event.keyCode < 48 || event.keyCode > 57 ) { 
          event.preventDefault();	
        } 
      } else { 
        if (event.keyCode < 96 || event.keyCode > 105 ) { 
          event.preventDefault();	
        } 
      } 
    } 
  });
  $("input[type=text], input[type=file], select, textarea").tipsy({
    live: true,
    trigger: 'hover',
    gravity: 'w'
  });
  $("input:checkbox").tipsy({
    live: true,
    trigger: 'hover',
    gravity: 's'
  });
  
});
</script>
