<% begin
if item.readed == true 
  read_status = "readed"
else 
  read_status = "unreaded"
end 
last_message = item.conversation.last_message
@other_user = item.conversation.other_participants_than(current_user)[0]
%>
<li class="message <%= "#{read_status}" %>" id="<%= item.conversation.slug.to_s %>">
  <div class="avatar">
    <%= image_tag(@other_user.avatar.url(:mini).to_s, :alt => @other_user.name) %>
  </div>
  <div class="data">
    <p><strong><%= link_to item.conversation.subject  , message_view_path(:slug => item.conversation.slug.to_s) %></strong></p>
    <% if last_message.sender == current_user %>
      <p>Último mensaje enviado por <strong>tí</strong> hace <%= time_ago_in_words(last_message.created_at) %>.</p>
    <% else %>
      <p>Último mensaje enviado por <%= link_to last_message.sender.name, user_profile_path(:username => last_message.sender.username) %> hace <%= time_ago_in_words(last_message.created_at) %>.</p>
    <% end %>
  </div>
  <div class="actions">
    <%= link_to 'Ver', message_view_path(:slug => item.conversation.slug.to_s), :class=> 'abutton' %>
    <%= link_to 'Borrar', delete_message_path(:slug => item.conversation.slug.to_s), :remote => true, :class => ['abutton', 'delete'], :walk => 'no' %>
  </div>
</li>
<% rescue


end %>
