<% content_for :main do %>
<div class="box round">
<h2>Foto: <%= @art.name %></h2>
<br />
<div class="left">
<%= form_for @art, :url => admin_photo_update_path(@art) do |f| %>
  <ul>
    <li>
      <%= f.label :name %>
      <div>
      <%= f.text_field :name, :maxlenght => 50, :class => ['text', 'medium'] %>
      </div>
      <label class="note">Título</label>
    </li>
    <li>
      <%= f.label :price %>
      <div>
      <%= f.text_field :price, :maxlenght => 100, :class => ['text', 'small'] %>
      </div>
      <label class="note">Precio en euros</label>
    </li>
    <li>
      <%= f.label :max_height %>
      <div>
      <%= f.text_field :max_height, :maxlenght => 10, :class => ['text', 'small'] %>
      </div>
      <label class="note"></label>
    </li>
    <li>
      <%= f.label :max_width %>
      <div>
      <%= f.text_field :max_width, :maxlenght => 10, :class => ['text', 'small'] %>
      </div>
      <label class="note"></label>
    </li>
    <li>
      <label>Fichero original</label>
      <p><%= @art.original %></p>
    </li>
    <li>
      <%= f.label :image %>
      <div>
      <%= f.file_field :image %>
      </div>
      <label class="note">Im&aacute;gen final</label>
    </li>
    <li>
      <%= f.label :accepted %>
      <div>
      <%= f.select :accepted, [['Si', true], ['No', false]] %>
      </div>
      <label class="note">Aceptar la obra - Es necesario asegurarse de que el fichero es correcto!</label>
    </li>
    <li>
      <%= f.label :status_reason %>
      <div>
      <%= f.select :status_reason, [['No hay razon que mostar', 0], ['Mala calidad/Formato pequeño', 1], ['Contenido no apropiado', 2]] %>
      </div>
      <label class="note">Razón a mostrar en caso de no aceptar la obra.</label>
    </li>
    <li>
      <%= f.submit %>
    </li>
  </ul>
</div>
<div class="right">
  <%= image_tag @art.image.url(:cart).to_s %>
</div>
<% end %>
</div>
<% end %>
