<li>
  <div class="actor">
    <%= link_to image_tag(comment.author.avatar.url(:mini).to_s, :alt => comment.author.name) %>
  </div>
  <div class="text">
    <p class="s12">
      <strong>
      <% if comment.author == current_user %>
        <%= link_to 'Tú', user_profile_path(:username => comment.author.username) %>
      <% else %>
        <%= link_to comment.author.name, user_profile_path(:username => comment.author.username) %>
      <% end %>
      </strong>
      <%= comment.text %>
    </p>
    <p class="s11 align-right"><span class="time_ago" info="<%= comment.created_at.to_i %>"><%= time_ago_in_words(comment.created_at) %> ago.</span></p>
  </div>
</li>