<div class="box blue">
  <div class="title"><%= t('users_profile.comments')%></div>
  <div class="content">
    <%= render :partial => 'partials/user/profile/newcomment' %>
    <ul class="comments" count="<%= @user.comments_received.count %>">
      <% @comments.each do |comment| %>
        <%= render :partial => 'partials/user/profile/comment', :locals => { :comment => comment } %>
        <% @last_comment = comment %>
      <% end %>
    </ul>
    <% if @user.comments_received.count > 10 %>
          <p class="more">
            <%= link_to t('common.view_more'), view_more_comments_path(:username => @user.username, :last => @last_comment.created_at.to_i), :class=> 'abutton', :remote => true, :walk => 'no' %>
          </p>
    <% end %>
  </div>
</div>