<% if current_user %>
<%= form_tag(comment_user_path(:username => @user.username), :remote => true) do |f| %>
<ul class="answer">
  <li>
    <div class="actor">
      <%= image_tag(current_user.avatar.url(:mini).to_s, :alt => current_user.name) %>
    </div>
    <div class="text">
      <%= text_area_tag :text, nil, :style => 'width:260px; line-height:18px;' %>
      <%= submit_tag " ", :class=> "comment_submit" %>
    </div>
  </li>
</ul>
<% end %>
<script type="text/javascript">
var write_a_comment = "<%= t('common.write_a_comment') %>";
  $('textarea').expandingTextArea().val(write_a_comment);
  $('textarea').focus(function() {
    if ($(this).val() == write_a_comment) {
      $(this).val('');
    }
  });
  $('textarea').blur(function(){
    if ($(this).val().length > 2) {
      $("input.comment_submit").show();
    } else {
      $("input.comment_submit").hide();
      $(this).val(write_a_comment);
    }
  });
  $('textarea').keyup(function(){
    if ($(this).val().length > 2) {
      $("input.comment_submit").show();
    } else {
      $("input.comment_submit").hide();
    }
  });
</script>
<% end %>