<div class="box common">
  <div class="content center">
    <%= image_tag(@user.avatar.url.to_s, :alt => @user.name) %>
  </div>
  <div class="content">
    <p><%= @user.name %></p>
    <p><%= flag(@user.country)%> <%= @user.country.name %></p>
  </div>
  <div class="content" id="follow_info">
    <%= render :partial => 'partials/user/profile/followinfo' , :locals => { :user => @user} %>
  </div>
</div>