<% 
  art = item.art
  artist_price = art.price
  if item.frame == true
    framed = 1
  else
    framed = 0
  end
  tabelia_price = art.get_price(item.height, item.width, item.media_id, framed)
  total_price = artist_price + tabelia_price
%>

<li class="<%= cycle('odd', 'even') %>">
  <div class="left item_shot center">
    <%= image_tag art.image.url(:cart).to_s, :alt => art.name, :title => art.name %>
  </div>
  <div class="right item_info">
    <p class="s16"><%= link_to art.name, art_profile_path(:slug => art.slug) %></p>
    <p class="s14"><%= link_to art.user.name, user_profile_path(:username => art.user.username) %></p>
    <br />
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th colspan="4">
            <p class="s14"><%= t('cart.details') %></p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="25%"><%= t("cart.height")%></td>
          <td width="25%"><%= item.height %> cm</td>
          <td width="25%"><%= t("cart.artist")%></td>
          <td width="25%"><%= number_to_currency(artist_price, :unit => '€') %></td>
        </tr>
        <tr>
          <td><%= t("cart.width")%></td>
          <td><%= item.width %> cm</td>
          <td><%= t("cart.manipullation") %></td>
          <td><%= number_to_currency(tabelia_price, :unit => '€') %></td>
        </tr>
        <tr>
          <td><%= t("cart.media") %></td>
          <td><%= t("media.id_#{item.media_id}")%></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <% if item.media_id == 3 %>
          <td><%= t("cart.framed_canvas") %></td>
            <% if item.frame == true %>
            <td><%= t('common.oyes') %></td>
            <% else %>
            <td><%= t('common.ono') %></td>
            <% end %>
          <% else %>
          <td></td><td></td>
          <% end %>
          <td class="b"><%= t("cart.total") %></td>
          <td class="b"><%= number_to_currency(total_price, :unit => '€') %></td>
        </tr>
      </tbody>
    </table>
    <br />
    <p class="right hidden">
      <%= link_to t('cart.edit'), cart_edit_path(:id => item.id.to_s), :class => 'abutton', :rel => 'modal', :walk => 'no' %>
      <%= link_to t('cart.delete'), cart_delete_path(:id => item.id.to_s) %>
    </p>
  </div>
</li>