<% 
  art = item.art
  if art.fotolia == true
    artist_price = item.custom_price
  else
    artist_price = art.price
  end
  if item.frame == true
    framed = 1
  else
    framed = 0
  end
  case item.media_id
  when 2
    material = 'photographic'
  when 3
    material = 'canvas'
  when 4
    material = 'watercolor'
  when 5
    material = 'aluminium'
  end
  
  if item.art.fotolia == true
    f = FotoliaRest::Client.new('WSfE8EmGSKWUrGpDVRS30n6M1ZOmsLnF', 'retocontinuo', 'Enertia22')
    image_response = f.execute('media', 'getMediaData', { :language_id => 5, :thumbnail_size => 110, :id => item.fotolia_id } )
    image = image_response.response
  end
  case item.media_id
  when 1,2,3,4
    tabelia_price = art.get_price(item.height, item.width, item.media_id, framed)
  when 5
    tabelia_price = art.get_price_fixed(item.media_id, item.size, framed)
  end
  total_price = artist_price + tabelia_price
%>

<li class="<%= cycle('odd', 'even') %>">
  <div class="left item_shot center">
    <% if item.x.nil? == true %>
      <% if art.fotolia == true %>
        <%= image_tag image['thumbnail_url'], :class => 'item2', :height => image['thumbnail_height'], :width => image['thumbnail_width'], :alt => image['title'] %>
      <% else %>
        <% if art.aod == true %>
        <%= image_tag art.aodimage.url(:cart).to_s, :alt => art.name, :title => art.name %>
        <% else %>
        <%= image_tag art.image.url(:cart).to_s, :alt => art.name, :title => art.name %>
        <% end %>
      <% end %>
    <% else %>
      <%= image_tag item.crop.url(:cropped_thumb), :alt => art.name, :title => art.name %>
    <% end %>
  </div>
  <div class="right item_info">
    <% if art.fotolia == true %>
      <p class="s16"><%= link_to "#{image['title']} -  ##{item.fotolia_id}", fotolia_show_path(:id => item.fotolia_id, :material => material, :item_id => item.id.to_s) %>
    <% else%>
    <% if art.photo == false %>
      <p class="s16"><%= link_to art.name, art_profile_path(:slug => art.slug) %></p>
      <% else %>
      <p class="s16"><%= link_to art.name, photo_profile_path(:slug => art.slug) %></p>
      <% end %>
    <p class="s14"><%= link_to art.user.name, user_profile_path(:username => art.user.username) %></p>
    <% end %>
    <br />
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th colspan="4">
            <p class="s14"><%= t('cart.details') %></p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="25%"><%= t("cart.height")%></td>
          <td width="25%"><%= item.height %> cm</td>
          <% if item.art.fotolia == true %>
          <td width="25%"><%= t("cart.license")%></td>
          <td width="25%"><%= number_to_currency(item.custom_price, :unit => '€') %></td>
          <% else %>
          <td width="25%"><%= t("cart.artist")%></td>
          <td width="25%"><%= number_to_currency(artist_price, :unit => '€') %></td>
          <% end %>
        </tr>
        <tr>
          <td><%= t("cart.width")%></td>
          <td><%= item.width %> cm</td>
          <td><%= t("cart.manipullation") %></td>
          <td><%= number_to_currency(tabelia_price, :unit => '€') %></td>
        </tr>
        <tr>
          <td><%= t("cart.media") %></td>
          <td><%= t("media.id_#{item.media_id}")%></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <% if item.media_id == 3 %>
          <td><%= t("cart.framed_canvas") %></td>
            <% if item.frame == true %>
            <td><%= t('common.oyes') %></td>
            <% else %>
            <td><%= t('common.ono') %></td>
            <% end %>
          <% else %>
          <td></td><td></td>
          <% end %>
          <td class="b"><%= t("cart.total") %></td>
          <td class="b"><%= number_to_currency(total_price, :unit => '€') %></td>
        </tr>
      </tbody>
    </table>
    <br />
    <p class="right hidden">
      <% if item.art.fotolia == true %>
      <%= link_to t('cart.edit'), fotolia_show_path(:id => item.fotolia_id, :material => material, :item_id => item.id.to_s), :class => 'abutton' %>
      <% else %>
        <% if item.art.photo == false %>
          <%= link_to t('cart.edit'), art_profile_path(:slug => item.art.slug, :material => material, :item_id => item.id.to_s), :class => 'abutton' %>
        <% else %>
        <%= link_to t('cart.edit'), photo_profile_path(:slug => item.art.slug, :material => material, :item_id => item.id.to_s), :class => 'abutton' %>
        <% end %>
      <% end %>
      <%= link_to t('cart.delete'), cart_delete_path(:id => item.id.to_s) %>
    </p>
  </div>
</li>