<div class="box green">
  <div class="title"><%= t('cart.order_details') %></div>
  <div class="content">
    <table cellspacing="0" cellpadding="0" class="order_details">
      <tbody>
        <tr>
          <td><%= t('cart.artist_s') %></td>
          <td><%= number_to_currency(@total_payment_users, :unit => '€') %></td>
        </tr>
        <tr>
          <td><%= t('cart.manipullation') %></td>
          <td><%= number_to_currency(@total_payment_tabelia, :unit => '€') %></td>
        </tr>
        <tr>
          <td><%= t('cart.shipping') %></td>
          <td><%= number_to_currency(@total_payment, :unit => '€') %></td>
        </tr>
        <% if @total_payment_taxes != 0 %>
        <tr>
          <td><%= t('cart.taxes') %></td>
          <td><%= number_to_currency(@total_payment_taxes, :unit => '€') %></td>
        </tr>
        <% end %>
        <tr>
          <td><%= t('cart.total') %></td>
          <td><%= number_to_currency(@total_payment, :unit => '€') %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>