<% content_for :left do %>
<div class="unitx5 left">
  <h2><%= @user.name %></h2>
</div>
<div class="unitx1 right">
  <a href="#" class="abutton">Follow</a>
</div>
  <%= render :partial => 'partials/user/profile/myart' %>
<div class="unitx3 left">
  <%= render :partial => 'partials/user/profile/about' %>
</div>
<div class="unitx3 right">
  <%= render :partial => 'partials/user/profile/comments' %>
</div>
<% end %>
<% content_for :right do %>
  <%= render :partial => 'partials/user/profile/profileinfo' %>
<% end %>
