<%= simple_form_for @address, :remote => true do |f|%>
  <% if @address.errors.any? %>
    <div id="errors">
    <%= pluralize(@address.errors.count, "error") %>:
    <ul>
    <% @address.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <ul>
    </div>
  <% end %>
  <%= f.input :address_name, :input_html => { :title => t('simple_form.titles.address.address_name') } %>
  <%= f.input :fullname, :input_html => { :title => t('simple_form.titles.address.fullname') } %>
  <%= f.input :is_company, :as => 'radio' %>
  <div id="company" style="display:<%= @address.is_company == true ? 'block' : 'none' %>">
    <%= f.input :company, :input_html => { :title => t('simple_form.titles.address.company') } %>
  </div>
  <div class="clearfix"></div>
  <%= f.input :address_line1, :input_html => { :title => t('simple_form.titles.address.address_line1') } %>
  <%= f.input :address_line2 %>
  <%= f.input :city %> 
  <%= f.input :county %>  
  <%= f.input :postalcode %>
  <div class="input optional <%= "field_with_errors" if @address.errors.keys.include?(:country_id) %>">
    <label class="optional" for="address_country_id"><%= t('simple_form.address.labels.country')%></label>
    <%= collection_select('address', 'country_id', Country.allowed_to_send.order_by([:name, :asc]), :id, :name, :prompt => true) %>
  </div>
  <%= f.submit %>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $("input").tipsy({
  	  live: true,
  	  trigger: 'hover',
  	  gravity: 'w'
  	});
    $("input:radio").change(function() {
      if($("input#address_is_company_true:checked").val() == 'true') {
        $("div#company").slideDown();
      }
      else
      {
        $("div#company").slideUp();
      }
    });
  });
</script>