<% if @current_user %>
  <% if @addresses.count == 0 %>
  <div class="box orange">
    <div class="title"><%= t('cart.address')%></div>
    <div class="content">
      <p><%= t('cart.there_are_no_addresses')%></p>
      <p><%= t('cart.to_create_one')%><%= link_to t('cart.add_a_new'), new_address_path, :rel => 'modal' %></p>
    </div>
  </div>
  <% else %>
  <div class="box orange">
    <div class="title"><%= t('cart.delivery_address')%></div>
    <div class="content">
      <%= collection_select("order", "address_delivery_id", @addresses, :id, :address_name, {:selected => session[:delivery_address] }, :style => 'width:150px') %>
      <% if @delivery_address %>
      <div id="delivery_address">
        <%= render :partial => 'partials/addresses/address', :locals => { :address => @delivery_address } %>
      </div>
      <% end %>
      <% if @invoice_address %>
      </div>
      <div class="title"><%= t('cart.invoice_address')%></div>
      <div class="content">
      <%= collection_select("order", "address_invoice_id", @addresses, :id, :address_name, {:selected => session[:invoice_address]}, :style => 'width:150px') %>
      <div id="invoice_address">
        <%= render :partial => 'partials/addresses/address', :locals => { :address => @invoice_address } %>
      </div>
      <% end %>
    </div>
    <div class="title"><%= link_to t('cart.add_a_new_address'), new_address_path, :rel => 'modal' %></div>
  </div>
  <script type="text/javascript">
    $("select#order_address_delivery_id").live("change", function() {
      $.ajax({
        url: '/address/delivery/' + $("select#order_address_delivery_id").val(),
        dataType: 'script'
      });
    });
    $("select#order_address_invoice_id").live("change", function() {
      $.ajax({
        url: '/address/invoice/' + $("select#order_address_invoice_id").val(),
        dataType: 'script'
      });
    });
  </script>
  <% end %>
<% else %>
<div class="box orange">
  <div class="title">ADDRESS</div>
  <div class="content">
    <p>You need to <%= link_to 'log in', login_path, :rel => 'modal' %> for continue with the purcharse.</p>
    <p>If you don't have an account, <%= link_to 'register here', signup_path, :rel => 'modal' %></p>
  </div>
</div>
<% end %>