<% content_for :title do %>
<div class="left inner-title"><p>EN PORTADA</p></div>
<div class="right-box">
  <div style="padding:10px 20px;float:right">
    <fb:like href="https://www.facebook.com/tabelia" send="false" layout="button_count" width="120" show_faces="false"></fb:like>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="g-plusone" data-size="medium" data-href="http://www.tabelia.com/"></div>
    <a href="//twitter.com/share" class="twitter-share-button" data-count="none">Tweet it</a>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </div>
</div>
<div class="clearfix"></div>
<% end %>

<% content_for :spotlight do %>
  <div id="spotlight-wrapper" class="clearfix">
    <div id="spotlight">
    <% @spotlight.each do |article| %>
      <%= render :partial => 'partials/articles/spotlight', :locals => { :article => article } %>
    <% end %>
    </div>
  </div>

<% end %>

<% content_for :left do %>
  <div class="box common">
    <div class="title">
    <%= t('common.trending_paintings') %>  <%= link_to t('common.see_all_male'), shop_popular_paintings_path %>
    </div>
    <div class="content">
  <% cache(@popular_paintings_cache, :expire_in => 1.hour) do %>
      <% @arts = @search_popular_paintings.results %>
  <ul id="l">
    <% @arts.each do |art| %>
      <%= render :partial => 'partials/lists/shopitem', :locals => { :art => art } %>
    <% end %>
  </ul>
    </div>
  </div>
  <% end %>
  <div class="box common">
    <div class="title">
  <%= t('common.trending_photos') %>  <%= link_to t('common.see_all_female'), shop_popular_photos_path %>
    </div>
    <div class="content">
  <% cache(@popular_photos_cache, :expire_in => 1.hour) do %>
    <% @photos = @search_popular_photos.results %>
  <ul id="l">
    <% @photos.each do |art| %>
      <%= render :partial => 'partials/lists/shopitem', :locals => { :art => art } %>
    <% end %>
  </ul>
    </div>
  </div>
  <% end %>
<% end %>

<% content_for :right do %>
<div class="box common">
  <div class="title">
    AGENDA  <a href="#">cambiar</a>
  </div>
  <div class="title">
    <p><%= @city %>, <%= @country %></p>
    <p><%= @request_ip %></p>
    <p><%= @long %>, <%= @lat %></p>
  </div>
  <div class="content">
    TODO!
  </div>
</div>


<% end %>