    <footer class="width4">
        <ul class="footer_ul">
          <li><%= t('language.you_are_using')%></li>
          <% @languages.each do |key, value| %>
            <% if I18n.locale == key %>
              <li><%= value %></li>
            <% else %>
              <li><%= link_to value, set_locale_path(:language => key.to_s)%></li>
            <% end %>
          <% end %>
        </ul>
        <ul class="footer_ul">
          <li><%= link_to t('common.how_to_sell'), page_how_to_sell_path %></li>
          <li><%= link_to t('common.publish_paintings'), page_publish_paintings_path %></li>
          <li><%= link_to t('common.publish_photos'), page_publish_photos_path %></li>
        </ul>
        <ul class="footer_ul">
          <li><%= link_to t('common.how_to_buy'), page_how_to_buy_path %></li>
          <li><%= link_to t('common.shopping_process'), page_shopping_path %></li>
          <li>TODO</li>
        </ul>
        <ul class="footer_ul">
          <li><%= link_to(t('common.footer.terms'), page_terms_path) %></li>
          <li>Vender pinturas TODO</li>
          <li>Vender fotos TODO</li>
        </ul>
        
    	<!-- <p class="align-right">
    	  <%= link_to(t('common.footer.directory'), users_path) %> · 
    	  <%= link_to(t('common.footer.terms'), page_terms_path) %> · 
    	  <%= link_to(t('common.footer.help'), page_help_path) %> </p> -->
    	<div class="full greyed">
    	  <p class="align-right">Copyright &copy; 2011. All Rights Reserved</p>
    	</div>
    </footer>
    <script type="text/javascript">
      window.___gcfg = {lang: '<%= I18n.locale.to_s %>'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>