<!DOCTYPE html>
<% if controller_name == 'arts' and action_name == 'show' %>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Painting">
<% else %>
  <% if controller_name == 'photos' and action_name == 'show' %>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Photograph">
  <% else %>
    <% if controller_name == 'users' and action_name == 'show' %>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Person">
    <% else %>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/">
    <% end %>
  <% end %>
<% end %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# tabelia: http://ogp.me/ns/fb/tabelia#">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= title %></title>
  <%= stylesheet_link_tag    "tabelia" %>
  <%= javascript_include_tag "tabelia" %>
  <%= csrf_meta_tags %>
  
  <link href="//s3-eu-west-1.amazonaws.com/assets.tabelia.com/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="//s3-eu-west-1.amazonaws.com/assets.tabelia.com/favicon.ico" rel="icon" type="image/x-icon"/>
  <link rel="canonical" href="<%= @canonical %>" />
  <meta property="fb:app_id" content="195975813810721" />
  <meta property="og:site_name" content="tabelia">
  <meta property="og:url" content="<%= @canonical %>" /> 
  <meta property="fb:admins" content="1615327419"/>
  <meta itemprop="url" content="<%= @canonical %>" />
  <% if controller_name == "arts" or controller_name == "photos" %>
    <% if action_name == "show" %>
      <meta property="og:type" content="tabelia:art" /> 
      <meta property="og:title" content="<%= @art.name %>"/>
      <meta property="og:description" content="<%= @art.description.to_s %>" />
      <meta itemprop="name" content="<%= @art.name %>">
      <meta itemprop="description" content="<%= @art.description.to_s %>">
      <% if @art.image.to_s.nil? == true %>
      <meta property="og:image" content="http://assets.tabelia.com<%= @art.image.url(:thumb).to_s %>" />
      <meta itemprop="image" content="http://assets.tabelia.com<%= @art.image.url(:thumb).to_s %>">
      <% else %>
      <meta property="og:image" content="http:<%= @art.image.url(:static).to_s %>" />
      <meta itemprop="image" content="http:<%= @art.image.url(:static).to_s %>" />
      <% end %>
      <% cache("art-tags-#{@art.slug}", :expire_in => 1.day) do %>
      <meta name="description" content="<%= @art.description %>" />
      <meta name="keywords" content="<%= @tags.join(", ") %>">
      <% end %>
    <% end %>
  <% else
    if controller_name == "users" and action_name == "show" %>
      <meta property="og:type" content="tabelia:artist" /> 
      <meta property="og:title" content="<%= @user.name %>"/>
      <meta property="og:description" content="<%= @user.about.to_s %>" />
      <meta itemprop="name" content="<%= @user.name %>">
      <meta itemprop="description" content="<%= @user.about.to_s %>">
      <% if @user.avatar.to_s.nil? == true %>
      <meta property="og:image" content="http://assets.tabelia.com<%= @user.avatar.url(:thumb).to_s %>" />
      <% else %>
      <meta property="og:image" content="http:<%= @user.avatar.url(:thumb).to_s %>" />
      <% end %>
      <% cache("user-tags-#{@user.username}", :expire_in => 1.day) do %>
      <meta name="description" content="<%= @user.about.to_s %>" />
      <meta name="keywords" content="<%= @inspirations.join(", ") if @inspirations %>">
      <% end %>
    <% else %>
    <meta name="description" content="<%= t('common.tabelia_description') %>" />
    <meta name="keywords" content="<%= t('common.tabelia_keywords') %>">
    <meta property="og:title" content="<%= title %>"/>
    <% end %>
  <% end %>
  
  <!-- <link href='//fonts.googleapis.com/css?family=Cabin&amp;v2' rel='stylesheet' type='text/css'> -->
  <% if flash.count > 0 %>
  <script type="text/javascript">
  $(document).ready(function() {
  	<%- flash.each do |key, msg| -%>
  	flashBar("<%= msg %>", "<%= key %>", {});
  	<%- end -%>
  });
  </script>
  <% end %>
  
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"><![endif]-->
  <!--[if lt IE 7]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
  
  <% if @show_confirmation == true %>
    <script type="text/javascript">
      $(document).ready(function() {
        jQuery.facebox({ ajax: '/confirmation' });
      });
    </script>
  <% end %>

  <% if I18n.locale.to_s == 'es' %>
    <script type="text/javascript">
      jQuery.timeago.settings.strings = {
         prefixAgo: "hace",
         prefixFromNow: "dentro de",
         suffixAgo: "",
         suffixFromNow: "",
         seconds: "menos de un minuto",
         minute: "un minuto",
         minutes: "unos %d minutos",
         hour: "una hora",
         hours: "%d horas",
         day: "un día",
         days: "%d días",
         month: "un mes",
         months: "%d meses",
         year: "un año",
         years: "%d años"
      };
    </script>
    <% end %>

  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26749052-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>