<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "tabelia" %>
  <%= javascript_include_tag "tabelia" %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <script src="http://192.168.1.36:8080/application.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      /* var jug = new Juggernaut({
        secure: ('https:' == document.location.protocol),
        host: document.location.hostname,
        port: document.location.port || 80
      }); 
      */      
      var jug = new Juggernaut({ host: '192.168.1.36', port: 8080});

      jug.on("connect", function(){ flashBar("Connected", 'notice', {}) });
      jug.on("disconnect", function(){ flashBar("Disconnected", 'notice', {}) });
      jug.on("reconnect", function(){ flashBar("Reconnecting", 'notice', {}) });

      jug.subscribe("<%= current_user.username %>", function(data){
        if (data.mc) {
          console.log(data.mc);
          if (data.mc == 'o') {
            $('span.message_count').html("");
          } else {
            $('span.message_count').html('' + data.mc);
          } 
        }
        if (data.msg) {
          flashBar("Nuevo mensaje: '" + data.msg.subject +"' de " + data.msg.sender + "", "notice", {});
        }
        
        console.log(data);
      });
    </script>
  <% end %>
  <link href='http://fonts.googleapis.com/css?family=Cabin&amp;v2' rel='stylesheet' type='text/css'>
  <% if flash.count > 0 %>
  <script type="text/javascript">
  $(document).ready(function() {
  	<%- flash.each do |key, msg| -%>
  	flashBar("<%= msg %>", "<%= key %>", {});
  	<%- end -%>
  });
  </script>
  <% end %>
</head>


