<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "tabelia" %>
  <%= javascript_include_tag "tabelia" %>
  <%= csrf_meta_tags %>
  <% if current_user %>
    <script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      /* var jug = new Juggernaut({
        secure: ('https:' == document.location.protocol),
        host: document.location.hostname,
        port: document.location.port || 80
      }); 
      */      
      var jug = new Juggernaut({ host: 'localhost', port: 8080});

      //jug.on("connect", function(){ flashBar("Connected", 'notice', {}) });
      //jug.on("disconnect", function(){ flashBar("Disconnected", 'notice', {}) });
      jug.on("reconnect", function(){ flashBar("Reconnecting", 'notice', {}) });

      jug.subscribe("<%= current_user.username %>", function(data){
        if (data.mc) {
          console.log(data.mc);
          if (data.mc == 'o') {
            $('span.message_count').html("");
          } else {
            $('span.message_count').html('' + data.mc);
          } 
        }
        if (data.msg) {
          flashBar("Nuevo mensaje: '" + data.msg.subject + "' de " + data.msg.sender + "", "notice", {});
        }
        if (data.comment_profile){
          flashBar("Nuevo comentario de " + data.comment_profile.posted_by, "notice", {});
        }
        if (data.comment_art){
          flashBar("Nuevo comentario de " + data.comment_art.posted_by + " en tu obra '" + data.comment_art.art + "'", "notice", {});
        }
        if (data.user_follow_you){
          flashBar(data.user_follow_you.originator + "ha empezado a seguir tu perfil", "notice", {});
        }
        if (data.user_likes_art){
          flashBar("A " + data.user_likes_art.originator + "le gusta tu obra '" + data.user_likes_art + "'", "notice", {});
        }
        console.log(data);
      });
    </script>
  <% end %>
  <link href='http://fonts.googleapis.com/css?family=Cabin&amp;v2' rel='stylesheet' type='text/css'>
  <% if flash.count > 0 %>
  <script type="text/javascript">
  $(document).ready(function() {
  	<%- flash.each do |key, msg| -%>
  	flashBar("<%= msg %>", "<%= key %>", {});
  	<%- end -%>
  });
  </script>
  <% end %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26749052-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>


