<div id="topmenu">
  <div class="homemenu">
    <ul id="mainmenu" class="menu">
      <li><%= link_to image_tag("icons/home-1.png"), root_path, :alt => 'Home', :class => 'img' %></li>
      <li><%= link_to image_tag("icons/messages.png"), inbox_path, :alt => 'Messages', :class => 'img', :remote => true %><span class="message_count"><% if current_user %><%= current_user.unreaded_conversations if current_user.unreaded_conversations > 0 %><% end %></span></li>
      <li><%= link_to "Gente", users_path %></li>
      <li><a href="#">Categorias</a>
        <ul class="sub-menu">
          <% @categories.each do |category| %>
            <li><%= link_to category.en, category_show_path(:slug => category.slug) %></li>
          <% end %>
        </ul>
      </li>
      <% if current_user.nil? %>
          <li><a href="/login" rel="modal">log in</a></li>
          <li><a href="/signup" rel="modal">sign up</a></li>
      <% else %>
          <li><%= link_to current_user.name, user_profile_path(current_user.username), :remote => true %>
            <ul class="sub-menu">
              <li><a href="#">my art</a></li>
              <li><a href="#">settings</a></li>
              <li><a href="#">my orders</a></li>
              <li><%= link_to 'sign out', logout_path %></li>
            </ul>
          </li>
      <% end %>
    <li><a href="#">Carrito</a></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>