<div id="topmenu">
  <div class="homemenu">
    <ul id="mainmenu" class="menu">
      <li><%= link_to image_tag("icons/home-1.png", :alt => t('mainmenu.home')), root_path, :alt => t('mainmenu.home'), :class => 'img' %></li>
      <% if current_user %>
      <li><%= link_to image_tag("icons/messages.png", :alt => t('mainmenu.home')), inbox_path, :alt => t('mainmenu.home'), :class => 'img' %><span class="message_count">
      <% if current_user %>
        <%= current_user.unreaded_conversations if current_user.unreaded_conversations > 0 %>
        <% end %>
        </span></li>
      <% end %>
      <% if current_user.nil? %>
      <li><%= link_to t('mainmenu.login'), '/login', :rel => 'modal nofollow' %></li>
      <li><%= link_to t('mainmenu.signup'), '/signup', :rel => 'nofollow' %></li>
      <% else %>
      <li><%= link_to current_user.name, user_profile_path(current_user.username) %>
        <ul class="sub-menu">
          <li><%= link_to t('mainmenu.myart'), arts_path %></li>
          <li><%= link_to t('mainmenu.mysettings'), profile_basic_path %></li>
          <!-- <li><%#= link_to t('mainmenu.myorders'), "/login" %></li> -->
          <li><%= link_to t('mainmenu.signout'), logout_path %></li>
        </ul>
      </li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </div>
</div>
<div style="clear:right"></div>
<div id="topmenu">
  <div class="homemenu">
    <ul id="mainmenu" class="menu">
      <li><a href="" onclick="return false;" class="no"><%= t('mainmenu.photos')%></a></li>
      <li><%= link_to t('mainmenu.subjects'), "", :onclick => 'return false;' %>
        <ul class="sub-menu">
          <% @subjects.each do |subject| %>
            <li><%= link_to subject.name, subject_path(:slug => subject.slug) %></li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to t('mainmenu.tecniques'), "", :onclick => 'return false;' %>
        <ul class="sub-menu">
          <% @tecniques.each do |tecnique| %>
            <li><%= link_to tecnique.name, tecnique_path(:slug => tecnique.slug) %></li>
          <% end %>
        </ul>
      </li>
      <li><a href="" onclick="return false;" class="no"><%= t('mainmenu.paintings')%></a></li>
      <li><%= link_to t('mainmenu.genres'), "", :onclick => 'return false;' %>
        <ul class="sub-menu">
          <% @idioms.each do |idiom| %>
            <li><%= link_to idiom.name, idiom_show_path(:slug => idiom.slug) %></li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to t('mainmenu.categories'), "", :onclick => 'return false;' %>
        <ul class="sub-menu">
          <% @categories.each do |category| %>
            <li><%= link_to category.name, category_show_path(:slug => category.slug) %></li>
          <% end %>
        </ul>
      </li>
      <li><a href="#"><%= t('mainmenu.cart') %> <% if current_cart.items.count > 0 %>
      (<%= current_cart.items.count %>)
      <% end %></a></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>
