      <ul class="menu gray slide" id="menu">
        <li><a href="">Revista</a>
          <div class="cols2">
            <div class="col1"><h4>Noticias</h4></div>
            <div class="col1"><h4>Agenda</h4></div>
            <div class="col1">
              <ol>
                <% Postcategory.all.each do |cat| %>
                  <li><%= link_to cat.title, posts_category_path(:category => cat.slug, :who => '_', :lang => session[:locale].to_s) %></li>
                <% end %>
              </ol>
            </div>
            <div class="col1">
              <ol>
                <% Eventcategory.all.each do |event| %>
                  <li><%= link_to event.name, agenda_path(:category => event.slug) %></li>
                <% end %>
              </ol>
            </div>
          </div>
        </li>
      		<li><%= link_to t('arts.paintings_title'), shop_popular_paintings_path %>
      			<!-- start mega menu -->
      			<div class="cols4">
      				<div class="col2">
      					<h4><%= t('arts.subject_title') %></h4>
      				</div>
      				<div class="col2">
      					<h4><%= t('arts.style_title')%></h4>
      				</div>
      				<div class="col1">
      					 <ol>
        				  <% # subjects
        				  total_idioms = @idioms.count
        				  (0..((total_idioms/2).to_i - 1)).each do |count|
        				    %>
        				    <li>
        				      <%= link_to "#{@idioms[count].name} (#{@idioms[count].arts.count})", shop_paintings_path(:category => '_', :tecnique => '_', :idiom => @idioms[count].slug) %>
        				    </li>
        				    <% end %>
        					</ol>
        				</div>
        				<div class="col1">
        					<ol>
        					  <%
        					  ((total_idioms/2).to_i..(total_idioms -1)).each do |count|
        					  %>
        				    <li>
        				      <%= link_to "#{@idioms[count].name} (#{@idioms[count].arts.count})", shop_paintings_path(:category => '_', :tecnique => '_', :idiom => @idioms[count].slug) %>
        				    </li>
                    <% end %>
        					</ol>
      				</div>
      				<div class="col1">
      					<ol>
        				  <% # subjects
        				  total_styles = @categories.count
        				  (0..((total_styles/2).to_i - 1)).each do |count|
        				    %>
        				    <li>
        				      <%= link_to "#{@categories[count].name} (#{@categories[count].arts.count})", shop_paintings_path(:category => @categories[count].slug, :tecnique => '_', :idiom => '_') %>
        				    </li>
        				    <% end %>
        					</ol>
        				</div>
        				<div class="col1">
        					<ol>
        					  <%
        					  ((total_styles/2).to_i..(total_styles -1)).each do |count|
        					  %>
        				    <li>
        				      <%= link_to "#{@categories[count].name} (#{@categories[count].arts.count})", shop_paintings_path(:category => @categories[count].slug, :tecnique => '_', :idiom => '_') %>
        				    </li>
                    <% end %>
        					</ol>
      				</div>
      			</div>
      			<!-- end mega menu -->
      		</li>
          <li><%= link_to t('arts.photos_title'), shop_popular_photos_path %>
      			<!-- start mega menu -->
      			<div class="cols1">
      				<div class="col1">
      					<h4><%= t('arts.subject_title') %></h4>
      				</div>
      				<div class="col1">
      				 <ol>
      				  <% # subjects
      				  @subjects.each do |subject|
      				    %>
      				    <li>
      				      <%= link_to "#{subject.name} (#{subject.arts.count})", shop_photos_path(:subject => subject.slug, :tecnique => '_') %>
      				    </li>
      				  <% end %>
      					</ol>
      				</div>
      			</div>
      		</li>
      		<li><%= link_to t('arts.photos_decoration_title'), shop_popular_photos_path %>
      			<!-- start mega menu -->
      			<div class="cols1">
      				<div class="col1">
      					<h4><%= t('arts.subject_title') %></h4>
      					<%= link_to fotolia_category_name(1000000), fotolia_category_path(:id => 1000000) %>
      					<%= link_to fotolia_category_name(2000000), fotolia_category_path(:id => 2000000) %>
      					<%= link_to fotolia_category_name(3000000), fotolia_category_path(:id => 3000000) %>
      					<%= link_to fotolia_category_name(4000000), fotolia_category_path(:id => 4000000) %>
      					<%= link_to fotolia_category_name(5000000), fotolia_category_path(:id => 5000000) %>
      					<%= link_to fotolia_category_name(6000000), fotolia_category_path(:id => 6000000) %>
      					<%= link_to fotolia_category_name(7000000), fotolia_category_path(:id => 7000000) %>
      					<%= link_to fotolia_category_name(8000000), fotolia_category_path(:id => 8000000) %>
      					<%= link_to fotolia_category_name(9000000), fotolia_category_path(:id => 9000000) %>
      					<%= link_to fotolia_category_name(10000000), fotolia_category_path(:id => 10000000) %>
      					<%= link_to fotolia_category_name(99000000), fotolia_category_path(:id => 99000000) %>
      				</div>
      			</div>
      		</li>
          <li class="floatr"><a href="/cart"><%= t('mainmenu.cart') %> 
            <% if current_cart.items.count > 0 %>
              <span class="bubble"><%= current_cart.items.count %></span>
              <% end %>
          </a></li>
          <% if current_user.nil? %>
          <li class="floatr"><%= link_to t('mainmenu.signup'), '/signup', :rel => 'nofollow' %></li>
          <li class="floatr"><%= link_to t('mainmenu.login'), 'http://www.tabelia.com/login', :rel => 'modal nofollow' %></li>
          <% else %>
          <li class="floatr"><%= link_to current_user.name, user_profile_path(current_user.username) %>
            <div class="cols1">
              <ol>
                <li><%= link_to t('mainmenu.myart'), arts_path %></li>
                <li><%= link_to t('mainmenu.myphotos'), photos_path %></li>
                <li><%= link_to t('mainmenu.myarticles'), posts_path %></li>
                <li><%= link_to t('mainmenu.myevents'), events_path %></li>
                <li><%= link_to t('mainmenu.mysettings'), profile_basic_path %></li>
                <% if current_user.arts.count > 0 %>
                <li><%= link_to t('mainmenu.mysellitems'), '#' %></li>
                <% end %>
                <li><%= link_to t('mainmenu.signout'), logout_path %></li>
              </ol>
            </div>
          </li>
          <li class="floatr"><a href="/messages">Mensajes
            <% if current_user.unreaded_conversations > 0  %>
              <span class="bubble"><%= current_user.unreaded_conversations %></span>
            <% end %>
            </a>
          </li>
          <% end %>
      	</ul>