<div class="box orange">
  <div class="content">
      <p><%= t('arts.profile.subject') %><%= link_to @art.subject.name, subject_path(:slug => @art.subject.slug) %></p>
      <p><%= t('arts.profile.tecnique') %><%= link_to @art.tecnique.name, tecnique_path(:slug => @art.tecnique.slug) %></p>
      <p id="liked_by"><%= render :partial => 'partials/art/profile/liked_by' %></p>
      <p><%= t('arts.profile.listed', :time => time_ago_in_words(@art.created_at)) %></p>
      <% if @art.accepted == true %>
      <p><%= t('arts.profile.price_from', :amount => number_to_currency(@art.price + @art.get_price(@art.min_height, @art.min_width, 1, 0), :unit => '€'))%>
      <% end %>
  </div>
  <div class="content">
    <div class="image_thumb">
      <%= link_to image_tag(@art.user.avatar.url(:thumb).to_s, :alt => @art.user.name), user_profile_path(:username => @art.user.username) %>
    </div>
    <div class="userinfo right" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <p><%= link_to raw("<span itemprop=\"name\">") + @art.user.name + raw("</span>"), user_profile_path(:username => @art.user.username), :itemprop => 'url' %></p>
      <br />
      <% followers = GraphClient.get_count('Backward', 'Follow', @art.user) %>
      <% if followers == 1 %>
        <p><%= link_to "#{followers} #{t('common.follower')}", user_followers_path(:username => @art.user.username) %></p>
      <% else %>
        <p><%= link_to "#{followers} #{t('common.followers')}", user_followers_path(:username => @art.user.username) %></p>
      <% end %>
      <% following = GraphClient.get_count('Forward', 'Follow', @art.user) %>
      <% if following == 1 %>
      <p><%= link_to t('common.follows_to_user', :number => following), user_following_path(:username => @art.user.username) %></p>
      <% else %>
      <p><%= link_to t('common.follows_to_users', :number => following), user_following_path(:username => @art.user.username) %></p>
      <% end %>
    </div>
  </div>
</div>