<% content_for :title do %>
<div class="left inner-title"><p><%= t('articles.category.title', :category_name => @category.title) %></p></div>
<div class="right-box">
  <div style="padding:20px 250px 10px 20px;float:right">
    <%= link_to t('articles.new_article'), new_post_path, :class => 'abutton' %>
  </div>
</div>
<div class="clearfix"></div>
<% end %>

<% content_for :left do %>
  <% if @posts.count == 0 %>
    <br /><br /><p class="center s16"><%= t('articles.there_are_not_articles_in_category') %></p>
  <% else %>
  <div class="paginate">
    <%= paginate @posts, :inner_window => 1 %>
  </div>
  <ul id="listing">
    <% @posts.each do |article| %>
      <%= render :partial => 'partials/articles/article_list', :locals => { :article => article } %>
    <% end %>
  </ul>
  <div class="paginate">
    <%= paginate @posts, :inner_window => 1 %>
  </div>
  <% end %>
<% end %>

<% content_for :right do %>
<div class="box common">
  <div class="title"><%= t('common.filters_caps')%></div>
  <div class="content">
    <p class="tit">Categoria</p>
    <% Postcategory.all.each do |cat| %>
      <% if cat == @category %>
      <p class="selected"><%= cat.title %></p>
      <% else %>
      <p><%= link_to cat.title, posts_category_path(:category => cat.slug, :who => params[:who], :lang => params[:lang])%></p>
      <% end %>
    <% end %>
    <br /><br />
    <p class="tit">Tipo</p>
    
    <% ['_', 'tabelia', 'users'].each do |type| %>
      <% case type
      when 'tabelia'
        title = t('articles.type.only_tabelia')
      when 'users'
        title = t('articles.type.only_users')
      else
        title = t('articles.type.all_articles')
      end
        %>
      <% if params[:who] == type %>
        <p class="selected"><%= title %></p>
      <% else %>
        <p><%= link_to title, posts_category_path(:category => @category.slug, :who => type, :lang => params[:lang])%></p>
      <% end %>
    <% end %>
  </div>
  
</div>
<% end %>