<% if @user.errors.any? %>
  <div id="errors">
  <%= pluralize(@user.errors.count, "error") %>:
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  <ul>
  </div>
<% end %>


<%= simple_form_for @user, :url => profile_about_path, :remote => true do |f| %>
  
  <%= f.input :about, :as => 'text', :input_html => { :title => t("simple_form.titles.about") } %>
  <%= f.input :inspirations, :input_html => { :value => @inspirations, :title => t("simple_form.titles.inspirations") } %>
  
  <%= submit_tag t('helpers.submit.user.update'),   :disable_with => t('common.working') %>
  
<% end %>
