<% if @user.errors.any? %>
  <div id="errors">
  <%= pluralize(@user.errors.count, "error") %>:
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  <ul>
  </div>
<% end %>


<%= simple_form_for @user, :url => profile_basic_path, :remote => true do |f| %>
  
  <%= f.input :name, :input_html => { :title => t("simple_form.titles.name") } %>
  <%= f.input :username, :input_html => { :title => t("simple_form.titles.username") } %>
  <div id="user_url" title="<%= t('simple_form.titles.user_url') %>">http://www.tabelia.com/user/<%= @user.username %></div>
  <%= f.input :email, :input_html => { :title => t("simple_form.titles.email") } %>
  <div class="input optional">
    <label class="optional" for="gender"><%= t("simple_form.labels.gender") %></label>
    <div style="margin-left:120px">
      <%= f.collection_radio :gender, [[true, 'Mujer'] ,[false, 'Hombre']], :first, :last %>
    </div>
  </div>
  
  <div class="input optional <%= "field_with_errors" if @user.errors.keys.include?(:country_id) %>">
    <label class="optional" for="address_country_id"><%= t("simple_form.labels.country") %></label>
    <%= collection_select('user', 'country_id', Country.allowed_to_user.order_by([:name, :asc]), :id, :name, :prompt => true) %>
    <script type="text/javascript">
      $("select#user_country_id").attr("title", "<%= t('simple_form.titles.country') %>");
    </script>
  </div>
  
  <% if @user.from_provider == false %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>
  
  <%= f.submit %>
  
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("input#user_username").keydown(function(event) { 
      if ( event.keyCode == 46 || event.keyCode == 8  || event.keyCode == 9 || event.keyCode == 37  || event.keyCode == 39 ) { 
      } else { 
        if (event.keyCode < 95) { 
          if (event.keyCode < 48 || event.keyCode > 90 ) { 
            event.preventDefault();	
          } 
        } else { 
          if (event.keyCode < 96 || event.keyCode > 105) { 
            if (event.keyCode != 189) {
              event.preventDefault();	
            }
          } 
        } 
      } 
    });
  });


  $("input#user_username").keyup(function(){
    if ($(this).val().length > 3) {
      var username = $(this).val();
      $("div#user_url").text("http://www.tabelia.com/user/" + username);
      $("input[type=submit]").removeAttr("disabled");
    }
    else
    {
      $("div#user_url").html('El nombre de usuario debe tener más de 3 letras');
      $("input[type=submit]").attr("disabled", "disabled");
    }
  });
</script>