<% content_for :title do %>
  <%= render :partial => 'profile/title' %>
<% end %>

<% content_for :left do %>

  <%= render :partial => 'profile/links' %>

  <div id="profile_form">
      <%= render :partial => 'profile/privacy_form' %>
  </div>
  
  <%= render :partial => 'profile/javascript' %>
<% end %>

<% content_for :right do %>
  <%= render :partial => 'profile/right' %>
<% end %>