<div class="unitx6" id="header"></div>
<div class="unitx6" id="msg">
  <% @conversation.messages.each do |message| %>
  <div class="unitx6" id="messagebody">
    <div class="unitx1 left" style="text-align: right">
      <%= link_to image_tag(message.sender.avatar.url(:mini).to_s, :alt => message.sender.name), user_profile_path(:username => message.sender.username) %>
    </div>
    <div class="unitx5 right">
      <% if message.sender == current_user %>
        <div class="unitx5" id="title"><strong>Tú</strong> · <%= time_ago_in_words(message.created_at) %> ago.</div>
      <% else %>
      <div class="unitx5" id="title"><strong><%= link_to message.sender.name, user_profile_path(:username => message.sender.username) %></strong> · <%= time_ago_in_words(message.created_at) %> ago.</div>
      <% end %>
      <div class="unitx5" id="data">
        <%= simple_format(message.text) %>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <% end %>
  <div class="unitx6">
    <div class="unitx1 left">&nbsp;</div>
    <div class="unitx5 right" id="reply">
      <%= form_tag message_reply_path(:slug => @conversation.slug.to_s) do %>
        <%= text_area_tag :text, nil, :style => 'width:612px; line-height:18px;' %>
        <%= submit_tag "Reply", :disabled => 'disabled', :class => 'replysubmit' %>
      <% end %>
    </div>
  </div>
  <script type="text/javascript">
    $('textarea').expandingTextArea();
    $('textarea').keyup(function(){
      if ($(this).val().length > 2) {
        $("input.replysubmit").removeAttr("disabled");
      } else {
        $("input.replysubmit").attr("disabled", "disabled");
      }
    });
  </script>
    
</div>