<li class="<%= cycle('odd', 'even') %>">
  <div class="artlist left">
    <div class="avatar left">
      <%= link_to image_tag(art.image.url(:thumb).to_s, :alt => art.name), art_profile_path(:slug => art.slug) %>
    </div>      
    <div class="artdata right">
      <% if art.photo == false %>
      <p><%= link_to art.name, art_profile_path(:slug => art.slug) %> <%= t('common.by')%> <%= link_to art.user.name, user_profile_path(:username => art.user.username) %></p>
      <p><%= t('arts.profile.idiom') %><%= art.genre.name %> · <%= t('arts.profile.category') %><%= art.category.name %></p>
      <% else %>
      <p><%= link_to art.name, photo_profile_path(:slug => art.slug) %> <%= t('common.by')%> <%= link_to art.user.name, user_profile_path(:username => art.user.username) %></p>
      <p><%= t('arts.profile.subject') %><%= art.subject.name %> · <%= t('arts.profile.tecnique') %><%= art.tecnique.name %></p>
      <% end %>
      <p><%= truncate(art.description, :length => 150, :omission => ' ...') if art.description %></p>
    </div>
  </div>
  <% likes = GraphClient.get_count('Backward', 'Like', art) %>
  <div class="likes align-right">
    <div class="n">
      <p class="s28 center"><%= likes %></p>
      <p class="center"><%= t('common.likes') %></p>
    </div>
  </div>
  <div class="clear"></div>
</li>