<li>
  <% if art.photo == false %>
  <div class="image">
  <%= link_to image_tag(art.image.url(:s).to_s, :class => 'item', :alt => art.name), art_profile_path(:slug => art.slug) %>
  </div>
  <p class="center s14"><%= link_to art.name, art_profile_path(:slug => art.slug) %></p>
  <% else %>
  <div class="image">
  <%= link_to image_tag(art.image.url(:s).to_s, :class => 'item', :alt => art.name), photo_profile_path(:slug => art.slug) %>
  </div>
  <p class="center s14"><%= link_to art.name, photo_profile_path(:slug => art.slug) %></p>
  <% end %>
  <p class="center s11"><%= link_to art.user.name, user_profile_path(:username => art.user.username)%></p>
</li>