<%= render :partial => '/partials/common/htmlhead' %>
<body class="page-home">
  <%= render :partial => '/partials/common/header' %>
  <div id="page">
    <% if current_user %>
      <% if current_user.confirmed == false %>
        <div class="full message_top">
        <% case I18n.locale.to_s %>
        <% when 'es' %>
          <p class="center">Hemos enviado un mensaje a la cuenta de correo con la que has registrado tu perfil para confirmarla. Sigue las instrucciones que encontraras en él para realizar este paso. (Mira también en la carpeta de spam o correo no deseado por si ha entrado ahí por error).</p>
          <p class="center">Puedes revisar y/o cambiar tu correo electrónico en la <%= link_to 'configuración de perfil', profile_basic_path %>.</p>
        <% when 'en' %>
          <p class="center">We have sent a message to the email account you filled on profile registration for confirm it. Follow the instructions on this message. (Also take a look over the spam folder, it can be there by error).</p>
          <p class="center">You can review your information and email address on your <%= link_to 'profile configuration', profile_basic_path %>.</p>
        <% end %>
        </div>
      <% end %>
    <% end %>
    <div id="container">
      <div id="content">
        <section class="width4 stroke" id='main'>
          <section class="column width4" id="main-title">
            <%= yield :title %>
          </section>        
          <section class="column special-left first" id="main-left">
            <%= yield :left %>
            <br />
          </section>
          <section class="special-right" id="main-right">
            <%= yield :right %>
            <br />
          </section>
        </section>
      </div><!-- content -->
      <hr class="full">
      <%= render :partial => '/partials/common/footer' %>
    </div>
  </div>
    <script type="text/javascript">
      $(document).ready(function() {
        var w_height=$(window).height();
        $("div#content").css("min-height", w_height - 110);
      });
      $(window).resize(function() {
        var w_height=$(window).height();
        $("div#content").css("min-height", w_height - 110);
      })
    </script>

</body>
</html>