<%= render :partial => '/partials/common/htmlhead' %>
<body class="page-home">
  <%= render :partial => '/partials/common/facebookSDK' %>
  <%= render :partial => '/partials/common/header' %>
  <div id="page">
    <div id="container">
      <%= render :partial => '/partials/common/menu' %>
      <div id="content">
        <section class="width4 stroke" id='main'>
          <section class="column width4" id="main-title">
            <%= yield :title %>
          </section>        
          <section class="column special-left first" id="main-left">
            <%= yield :left %>
            <br />
          </section>
          <section class="special-right" id="main-right">
            <%= yield :right %>
            <br />
          </section>
        </section>
      </div><!-- content -->
      <hr class="full nobottom">
      <%= render :partial => '/partials/common/footer' %>
    </div>
  </div>
    <script type="text/javascript">
      $(document).ready(function() {
        var w_height=$(window).height();
        $("div#content").css("min-height", w_height - 110);
      });
      $(window).resize(function() {
        var w_height=$(window).height();
        $("div#content").css("min-height", w_height - 110);
      })
    </script>

</body>
</html>