<%= render :partial => '/partials/common/htmlhead' %>
<body class="page-home" style="background-color: #fafafa;">
  <div id="page">
    <%= render :partial => '/partials/common/header' %>
    <hr class="full">
    <div id="content">
      <section class="width4 stroke">
        <section class="column width3 first">
          <div class="left-container">
          <%= yield :left %>
          </div>
          <br />
        </section>
        <section class="column width1">
          <%= yield :right %>
          <br />
        </section>
      </section>
    </div><!-- content -->
    <hr class="full">
    <%= render :partial => '/partials/common/footer' %>
  </div>
  <%= debug(params) if Rails.env.development? %>
  <%= debug(session) if Rails.env.development? %>
</body>
</html>