<%= render :partial => '/partials/common/htmlhead' %>
<body class="page-home">
  <%= render :partial => '/partials/common/facebookSDK' %>
  <%= render :partial => '/partials/common/header' %>
  <div id="page">
    <div id="container">
      <%= render :partial => '/partials/common/menu' %>
      <div id="content">
        <section class="width4 stroke" id='main'>
          <section class="column full first" id="main-title">
            <%= yield :title %>
          </section>        
          <section class="column width3 first" id="main-left">
            <%= yield :left %>
            <br />
          </section>
          <section class="column width1" id="main-right">
            <%= yield :right %>
            <br />
          </section>
        </section>
      </div><!-- content -->
      <hr class="full nobottom">
      <%= render :partial => '/partials/common/footer' %>
    </div>
  </div>
  
  <div style="margin-top:120px">
  <%= debug(session) if Rails.env.development? %>
  <%= debug(params) if Rails.env.development? %>
  </div>
  <%#= debug(request.env) if Rails.env.development? %>
</body>
</html>